<div class="jumbotron">
  <h1>Yo</h1>

  <p class="lead">
    <img src="images/angularjs.png" width="150px" alt="Angular"><br>
    Welcome to your new angular app!.
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#/">Woho! <i class="fa fa-angellist"></i></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>

  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>

  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>

  <p>Spectacular Test Runner for JavaScript.</p>
</div>
